<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ModiLib</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <h1>Welcome to ModiLib, Guest</h1>
    <br /><% docs.forEach((book) => {%> <%= book.name %><br />
    <div class="info">-<%= book.author %></div>
    <br />
    <div class="choices"></div>
    <br /><br />
    <%})%>
  </body>
</html>
