<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ModiLib</title>
    <link rel="stylesheet" href="./styles.css" />
    <style>
      body {
        text-align: center;
      }
      iframe {
        width: 95vw;
        height: 95vh;
        border: none;
        outline: none;
      }
      #options {
        font-size: xx-large;
        color: red;
      }
      button {
        color: initial;
        font-size: inherit;
        border-radius: 100vh;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to ModiLib</h1>
    <div id="options">
      <a href="./register.html"><button>Register</button></a> OR
      <a href="./login.html"><button>Login</button></a> OR
      <a href="./guest.html"><button>Explore as Guest</button></a>
    </div>
  </body>
</html>
